<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic|Roboto:400,700,700italic,400italic' rel='stylesheet' type='text/css'>

    <%if (stylesheet_path.length > 0) { %>
        <link rel="stylesheet" href="<%= stylesheet_path %>">
    <%}%>

    <%if (embd_stylesheet.length > 0) { %>
        <style><%- embedded_stylesheet %></style>
    <%}%>

</head>
<body>
<div id="document">
    <%- body %>
</div>
</body>
</html>