<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic|Roboto:400,700,700italic,400italic' rel='stylesheet' type='text/css'>

    <%if (stylesheet_path.length > 0) { %>
        <link rel="stylesheet" href="<%= stylesheet_path %>">
    <%}%>

    <%if (embedded_stylesheet.length > 0) { %>
        <style><%- embedded_stylesheet %></style>
    <%}%>
    <style type="text/css">
        .messagesBlock {
            margin: 50px 0 50px 0;
            background-color: #f3f3f3;
            font-size: 14px;
        }
        .message {
            border: 1px solid #cecece;
            border-width: 1px 0 0 0;
            padding: 5px 10px 5px 10px;
        }
        .message--image {
            width: 100px;
        }
        .message--user {
            font-weight: bold;
        }

        :target {
          background-color: yellow;
        }
    </style>
</head>
<body>
<div id="document">
    <%- body %>
</div>
</body>
</html>